name: CI/CD - Build, Publish & Deploy (Backend only)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: wish-app-api

jobs:

  # --------- JOB 1 : Build + Publish Docker ----------
  build_and_publish:
    runs-on: self-hosted   # runner CI/CD auto-hébergé
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---- Login GHCR ----
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_PAT }}

      # ---- Build Docker image ----
      - name: Build backend Docker image
        run: |
          docker build \
            -f Back/wish-app/Dockerfile \
            -t $REGISTRY/${{ secrets.GHCR_USERNAME }}/$IMAGE_NAME:latest \
            -t $REGISTRY/${{ secrets.GHCR_USERNAME }}/$IMAGE_NAME:${{ github.sha }} \
            Back/wish-app

      # ---- Push Docker image ----
      - name: Push backend image to GHCR
        run: |
          docker push $REGISTRY/${{ secrets.GHCR_USERNAME }}/$IMAGE_NAME:latest
          docker push $REGISTRY/${{ secrets.GHCR_USERNAME }}/$IMAGE_NAME:${{ github.sha }}


  # --------- JOB 2 : Déploiement sur serveur de PROD ----------
  deploy:
    runs-on: self-hosted
    needs: build_and_publish
    steps:
      - name: Vérifier la connexion SSH
        run: ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER_PROD }}@${{ secrets.SSH_HOST_PROD }} "echo 'SSH OK'"

      - name: Déployer le backend sur le serveur de production
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST_PROD }}
          username: ${{ secrets.SSH_USER_PROD }}
          key: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
          script: |
            echo "==> Connexion à GitHub Container Registry"
            echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

            echo "==> Téléchargement de la dernière image backend"
            docker pull $REGISTRY/${{ secrets.GHCR_USERNAME }}/$IMAGE_NAME:latest

            echo "==> Mise à jour des conteneurs"
            cd ~/Bureau/403-filrouge-TATKOVA-Anastasiia/wishApp
            docker compose --env-file .env.prod -f docker-compose-prod.yml down
            docker compose --env-file .env.prod -f docker-compose-prod.yml up -d

            echo "Déploiement backend terminé avec succès."
